.headerChild {
  width: 92px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}
.headerDiv {
  position: relative;
  /* background-color: white; */
}
.headerTitle {
  font-size: 26px;
  font-weight: 600;
  color: initial;
  border: initial;
  text-decoration: initial;
  background-color: initial;

  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.headerTitle:hover,
.headerTitle:focus {
  opacity: 0.3;
}
.headerDescription {
  position: absolute;
  opacity: 0;
}
